doctype html
html(lang="en")
  head
    meta(charset='utf8')
    include includes/delegates
    include includes/css
    include includes/ico
    block head
  body#home
    include includes/header
    block content
    include includes/navigation
    include includes/footer